// Colors
$surfacePrimary: #fff;
$contentBrand: #F0003A;
$contentOnBrand: #fff;
$contentPrimary: #020617;
$contentError: #EF4444;
$contentSecondary: #64748B;
$surfaceBrand: #F0003A;
$borderBrand: #F0003A;
$borderGray:rgba(0, 0, 0, 0.20);
$contentDisabled: rgba(0, 0, 0, 0.30);
$surfaceSuccess: #10B981;
$surfaceSuccessHover: #10B9811A;
$surfaceError: rgba(239, 68, 68, 0.10);
$surfaceSecondary: #F1F5F9;
$surfaceBrandSubdued: #F8FAFC;
$surfaceBrandHover: #F0003A0D;
$surfaceDisabled: #F1F5F9;
$surfaceInvert: #f2f5f9;
$surfaceInvertDisabled: #334155;
$mainBlack: #020710;

// Spacings
$spacing-4: 4px;
$spacing-8: 8px;
$spacing2x: 12px;
$spacingXs: 16px;
$spacingS: 24px;
$spacingMd: 32px;
$spacingLg: 40px;
$spacingLgX: 48px;
$spacing3xL: 64px;
$spacing4xL: 80px;
$spacing5xL: 96px;
$spacing8xL: 144px;